<div class="home d-flex flex-column align-items-start justify-content-end">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/contact.jpg"
        data-speed="0.8"></div>
    <div class="home_overlay"><img src="/images/home_overlay.png" alt=""></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Contact</div>
                        <div class="home_text"></div>
                    </div>
                    <div class="col-lg-12 contact_col">
                        <div class="contact_content">
                            <div class="contact_info">
                                <ul>
                                    <li class="d-flex flex-row align-items-start justify-content-start">
                                        <div>Phone</div>
                                        <div>+53 345 7953 32453</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-start justify-content-start">
                                        <div>E-mail</div>
                                        <div>yourmail@gmail.com</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>